<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template</title>
    <script src="https://kit.fontawesome.com/b5384521f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- zoom in start -->
    <div class="box1">
        <div class="simi_box"><i class="far fa-address-book"></i></div>
        <div class="clr"></div>
        <div class="ctn">
            <h3>Expart Attroniyes</h3>
            <p>Medieval origins to the digital eraearn everything there sue to know about the ubiquitous lorem ipsum passage.</p>
        </div>
        <div class="overlay">
            <div class="semi_box"><i class="far fa-address-book"></i></div>
             <div class="content">
                <h3>Expart Attroniyes</h3>
                <p>Medieval origins to the digital eraearn everything there sue to know about the ubiquitous lorem ipsum passage.</p>
            </div>
            <div class="bottom"></div>
            <button><a href="#"><i class="fas fa-arrow-right"></i>Contact Us</a></button>
            
        </div>
    </div>
    <div class="box2">
        <img src="Image/man.jpg" alt="">
    </div>
    <div class="box3"></div>
    <!-- zoom in ends -->
</body>
</html>